<%= form_with model: @user, local: true do |form| %>
 
<div class="form-group">
    <%= form.label :Edificio, class: "control-label" %><br>
    <%= form.select :user_id, User.all.collect{|u| [u.username, u.id]},{}, {class: "form-control"} %>
</div>

<% end %>