<div class='container'>
    <div class='row'>
        <div class='col-md-4'>
            <img src="/images/logo.png" height="134px" width="230px" />
        </div>
        <div class='col-md-8 align-bottom'>
        <div class="col-xs-12" style="height:25px;"></div>
        <%= link_to 'Pagos', payments_url, { :class=>"btn btn-light" } %>
        <%= link_to 'Agregar Pago', new_payment_url, { :class=>"btn btn-light" } %>
        <div class="col-xs-12" style="height:50px;"></div>
        <h3>Informar Pago de Expensas</h3>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6 offset-md-3'>
            <%= render 'form' %>
        </div>
    </div>
</div>